<div>
  <a href="#" class="btn btn-outline-primary my-2 btn-sm" aria-pressed="true" id="uploadProductMenuButton">Upload Product</a>
  <a href="#" class="btn btn-outline-secondary my-2 btn-sm" aria-pressed="true" id="verifyProductMenuButton">Verify Product</a>
  <a href="#" class="btn btn-outline-warning my-2 btn-sm" aria-pressed="true" id="retrieveProductAddressMenuButton">Retrieve Tender Submitter Address</a>
  <a href="#" class="btn btn-outline-info my-2 btn-sm" aria-pressed="true" id="getProductCountMenuButton">Count Tender Submissions</a>
  <a href="#" class="btn btn-outline-dark my-2 btn-sm" aria-pressed="true" id="checkContractStatusMenuButton">Check Contract Status</a>
  <a href="#" class="btn btn-outline-success my-2 btn-sm" aria-pressed="true" id="toggleContractStatusMenuButton">Toggle Contract Status</a>
  <a href="#" class="btn btn-outline-info my-2 btn-sm" aria-pressed="true" id="trackProductMenuButton">Track a Product</a>
  <a href="#" class="btn btn-outline-danger my-2 btn-sm" aria-pressed="true" id="destroyContractMenuButton">Destroy Contract</a>
</div>