<footer class="text-muted">
  <div class="container">

    <div id="currentEtheremAccountDiv"></div>

    <!-- Contract deployment details -->
    <p>Contract deployed in Testnet transaction <a href="https://kovan.etherscan.io/tx/0xdf77e4ec4a30e7d6504e4f35bb9fece0913491fff74ebaad0d74db2406e88156" target="_blank" >0xdf77e4ec4a30e7d6504e4f35bb9fece0913491fff74ebaad0d74db2406e88156</a></p>
    <p>Contract deployed at Testnet address <a href="https://kovan.etherscan.io/address/0xe97df0714c736e865e14d28031a73d4d4ca8736d" target="_blank" >0xe97df0714c736e865e14d28031a73d4d4ca8736d</a></p>
    <p>Contract creator <a href="https://kovan.etherscan.io/address/0x4b21c8c23b27f41c751fe3d9e3fdf3c6a18449c4" target="_blank" >0x4b21c8c23b27f41c751fe3d9e3fdf3c6a18449c4</a></p>

    <br>

    <p>Feel free to Donate to: <strong>0x4b21c8c23b27f41c751fe3d9e3fdf3c6a18449c4</strong></p>

    <hr><br>

    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; 2021 | FarMatrix Supply Chain DApp </p>
    <p>Made with Bootstrap, Flask & Solidity by <a href="https://github.com/kimxons/">Meshack Kitonga</a>.</p>
  </div>
</footer>