<div class="navbar navbar-dark bg-dark">
    <div class="container">
      <a href="{{ url_for('Supplier') }}" class="navbar-brand d-flex align-items-center" id="homeTenderDocsMenuButton">
        <strong>FarMatrix</strong>
      </a>
    <div class="content flex">
      <div class="right">
        <button onClick="window.location.href='https://etherscan.io/address/0x7bfbcF9ceE4ef8887BC355bE614d12BC0e64fe42'" class="btn btn-outline-secondary">Explorer</button>
        
        <button onclick="window.location.href='/logout'" type="button" class="btn btn-outline-secondary" class="exit">Logout</button>
      </div>
    </div>
  </div>
</div>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Agricultural Supply Chain DApp</h1>
    <h3 class="jumbotron-heading">Connecting Farmers and Consumers in the Supply Chain. Remove intermediries in the Food Supply Chain.</h3>
    <p class="lead text-muted">Guaranteing the authenticity of Products, food security, transparency in Agricultural Supply Chain using Blockchain Technology</p>

  </div>
</section>

<div>
  <a href="{{ url_for('addProduct')}}" class="btn btn-outline-primary my-2 btn-sm" aria-pressed="true" id="uploadProductMenuButton">Upload Product</a>
  <a href="#" class="btn btn-outline-secondary my-2 btn-sm" aria-pressed="true" id="verifyProductMenuButton">Verify Product</a>
  <a href="#" class="btn btn-outline-warning my-2 btn-sm" aria-pressed="true" id="retrieveProductAddressMenuButton">Retrieve Tender Submitter Address</a>
  <a href="#" class="btn btn-outline-info my-2 btn-sm" aria-pressed="true" id="getProductCountMenuButton">Count Tender Submissions</a>
  <a href="#" class="btn btn-outline-dark my-2 btn-sm" aria-pressed="true" id="checkContractStatusMenuButton">Check Contract Status</a>
  <a href="#" class="btn btn-outline-success my-2 btn-sm" aria-pressed="true" id="toggleContractStatusMenuButton">Toggle Contract Status</a>
  <a href="#" class="btn btn-outline-info my-2 btn-sm" aria-pressed="true" id="trackProductMenuButton">Track a Product</a>
  <a href="#" class="btn btn-outline-danger my-2 btn-sm" aria-pressed="true" id="destroyContractMenuButton">Destroy Contract</a>
</div>