<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %} FarMatrix {% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}"> -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

<script type="text/javascript" crossorigin="anonymous" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/product.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sha256.min.js') }}"></script>

<link rel="icon" href="{{ url_for('static', filename='img/logo1.png') }}">